html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }

@font-face {
    src: url(fonts/FloralCapitals.ttf);
    font-family: floral;
}
@font-face {
    src: url(fonts/valdemar.ttf);
    font-family: valdemar;
}


#odin {
    font-family: valdemar, sans-serif;
    font-size: 60px;
}

.titles {
    font-family: 'Marko One', serif;
    margin-top: 0;
}

.whole {
    width: 600px;
    background-color: peachpuff;
    border: 9px ridge brown;
    border-radius: 10px;
    padding: 15px;
    margin: auto
    
}

h1 {
    text-align: center
}

img {
    width: 552px;
    height: auto;
    outline: 5px solid rgb(94, 23, 23);
    border-radius: 10px;
}

.menu {
    height: 225px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.meal {
    width: 120px;
    height: 60px;
    display: inline-block;
    background-color: rgb(209, 174, 142);
    border-radius: 10px;
    text-align: center;
    padding: 21px 0; 
}
.meal:hover,  .meal:active {
    outline: 2px solid brown;
}

div div a {
    margin: 21px 0px;
    display: inline-block;
}

#tomato {
    padding: 12px 0;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a.back:visited, a.back:link{
    background-color: rgb(209, 174, 142);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}
a.back:hover, a.back:active {
    outline: 2px solid brown;
}